.content {
  padding: 30px;
  text-align: center;

}
.date {
  display: inline-block;
  padding: 50px;
  border: 10px solid black;

}
.info {
  width: 75%;
  margin-top: 10px;
  display: inline-block;
  border: 2px solid white;
  background-color: #B1F6CB;
  border-radius: 10px;
}
