.DatePicker-content {
  padding: 30px;
  text-align: center;

}

.DatePicker-instructions {
  display: inline-block;
  width: 75%;
  font-size: 1.2em;
}

.DateRangePickerInput_arrow {
  width: 50px;
}

.DatePicker-info {
  width: 75%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  border: 2px solid white;
  background-color: #B1F6CB;
  border-radius: 10px;
}
